@import "tailwindcss";

/* Global Styles */
:root {
  font-family: "Inter", "Avenir", "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: #333; /* Darker text for better readability */
  background-color: #f8f9fa; /* Light background for a modern look */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.6s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out 0.2s;
}
